{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}
{% load static %}
{% block content %}


<section class="project-section center-column">
        <h2>Projects</h2>
    
        <div class="projects-list">
            {% for projects in projects %}
            <!--All the cards-->
            <div class="project-card">
                <a href="http://github.com/" target="_blank">
                <img src="{{% staic '/img/img/picture-1.jpg' %}} alt=profile image">
                <P>{{ project.name }}</P>
                <P>{{ project.description }}</P>
                <P>{{ project.year }}</P>
                <P>{{ project.repository }}</P>
    
                <div class="skills-container center-row">
                {% for skill in  projects.skill.all %}
                    <label>{{ skill.name }}</label>
                {% endfor %}
                </div>
    
                </a>
    
                </div>
                {% endfor %}
    
            </div>
        </div>
        </section>
    

{% endblock content %}