{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}
{% load static %}

{% block content %}

<section class="about-section center-row">
    <div class="about-image-container center-row">
        <img src="./img/img/logo.png" alt="my logo" />
    </div>

    <div class="about-description-container center-column">
    <div class="center-column">
        <h1>The Scrum Master</h1>
        <h2>Donald Francois</h2>
    </div>

    <p>
        <p>In my role as a Scrum Master, I see myself as a navigator guiding a ship through uncharted waters, where each team member serves as a vital crew member steering us towards our destination of delivering value. My daily duties involve charting our course through Scrum ceremonies, ensuring every voice is acknowledged and every idea explored. Through mentorship and coaching, I empower my team to navigate the intricacies of Scrum, fostering a culture of continuous improvement that permeates our journey.</p>

        <p>Adopting the principles of servant leadership, I steer with humility and empathy, always mindful of the crew's needs. I lead not by command, but by collaboration, clearing obstacles and fostering an environment where each member can thrive.</p>

        <p>Communication serves as our compass, guiding us through the collaborative seas, ensuring alignment and direction among stakeholders, team members, and product owners. I actively listen, aligning perspectives and nurturing a shared vision.</p>

        <p>In the face of challenges, I embrace them as opportunities for growth, adeptly navigating through conflicts and guiding the crew towards resolution with empathy and understanding.</p>

        <p>When obstacles block our path, I become the navigator of problem-solving, devising innovative solutions with creativity and ingenuity. Decisions are made with precision, balancing the crew's needs with the overarching goals of the project, ensuring our journey stays on course.</p>

        <p>Time acts as our tide, guiding our progress towards sprint goals with purpose and efficiency. Throughout, I remain a perpetual learner, continuously adapting and evolving, integrating new strategies to enhance our voyage.</p>

        <p>In the voyage of Scrum, each skill contributes to our journey's success, culminating in a triumphant arrival at our destination of collaboration, innovation, and excellence. As a Scrum Master, I am not just a navigator, but a captain, navigating alongside my crew to chart a course of success, one sprint at a time.</p>
    </p>

    <div class="skill-list center-column">
        <h2>My Skills</h2>

            <div class="tag-container center-row">
            <label>Facilitation</label>
            <label>Coaching and Mentoring</label>
            <label>Servant Leadership</label>
            <label>Communication</label>
            <label>Conflict Resolution</label>
            <label>Empathy</label>
            <label>Problem Solving</label>
            <label>Decision Making</label>
            <label>Active Listener</label>
            <label>Continuous learner</label>
        </div>
    </div>
    </div>
</section>


{% endblock content %}