{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Lobster&display=swap"
rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/sections.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="center-row">
        <!-- Left side -->
        <div class="logo center-row">
        <a href="">
            <h2>Francois</h2>
        </a>
        </div>

        <!--Right side  -->
        <nav>
        <!-- Hamburgers button -->

        <!-- Menu link options -->
        <div class="nav-link center center-row">
            <a href="{% url 'about' %}">About Me</a>
            <a href="{% url 'about' %}">Projects</a>
            <a href="{% url 'about' %}">Experience</a>
            <a href="{% url 'about' %}">Contact</a>
        </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <h2> Here is my footer</h2>
</body>
</html>